<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="./Header.css">

    <title>Responsive navigation bar - Bedimcode</title>
</head>

<body>
    <!--=============== HEADER ===============-->
    <header class="header">
        <nav class="nav container">
            <div class="nav__data">
                <a href="#" class="nav__logo">
                    <img src="/Imgs/logo.png" alt="" srcset="">
                </a>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-menu-line nav__toggle-menu"></i>
                    <i class="ri-close-line nav__toggle-close"></i>
                </div>
            </div>

            <!--=============== NAV MENU ===============-->
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li>
                        <a href="../../index.html" class="nav__link">Home</a>
                    </li>

                    <!--=============== DROPDOWN 1 ===============-->
                    <li class="dropdown__item">
                        <div class="nav__link dropdown__button">
                            <a href="">Discover Wesupp</a>
                        </div>

                        <div class="dropdown__container">
                            <div class="dropleft">
                                <h2>Discover Wesupp</h2>
                                <p>At Wesupp, we believe in fostering a culture of collaboration, where every voice is
                                    valued and ideas are encouraged to flourish.</p>

                                <button class="button">Who we are</button>
                            </div>

                            <div class="dropright">
                                <ul>
                                    <li><a href="./../../About.html">Who we Are</a></li>
                                    <li><a href="">Our Clients</a>
                                    </li>
                                    <li><a href="">Wesupp Founder</a></li>
                                    <li><a href="">Wesupp Team</a></li>
                                </ul>

                                <ul>
                                    <li><a href="">Our Inverstor</a></li>
                                    <li><a href="">Our Experties</a>
                                    </li>
                                    <li><a href="">Awards</a></li>
                                    <li><a href="">Wesupp Group Company</a></li>
                                </ul>

                                <ul>
                                    <li><a href="">partner Companies</a></li>
                                    <li><a href="">Our Business</a>
                                    </li>
                                    <li><a href="">Our Vision Misson</a></li>
                                    <li><a href="">Wesupp Coperate Lift</a></li>
                                </ul>



                            </div>
                        </div>
                    </li>

                    <!--=============== DROPDOWN 2 ===============-->
                    <li class="dropdown__item">
                        <div class="nav__link dropdown__button">
                            <a href="">Work we Offer</a>
                        </div>

                        <div class="dropdown__container">
                            <div class="dropleft">
                                <h2>Work we Offer</h2>
                                <p>Our comprehensive suite of software solutions is designed to streamline your business operations and maximize efficiency</p>

                                <button class="button">Explore</button>
                            </div>

                            <div class="dropright">
                                <ul>
                                    <li><a href="">Data Analytics</a></li>
                                    <li><a href="">Business Analytics</a>
                                    </li>
                                    <li><a href="">Financial Analytics</a></li>
                                    <li><a href="">Operational Analytics</a></li>
                                    <li><a href="">Sales and Marketing Analytics</a></li>
                                </ul>

                                <ul>
                                    <li><a href="">Mobile Application</a></li>
                                    <li><a href="">Web Application</a>
                                    </li>
                                    <li><a href="">Business Application</a></li>
                                    <li><a href="">Wordpress</a></li>
                                    <li><a href="">UI UX</a></li>
                                </ul>

                                <ul>
                                    <li><a href="">IOT Solution</a></li>
                                    <li><a href="">Link 2</a>
                                    </li>
                                    <li><a href="">Link 3</a></li>
                                    <li><a href="">Link 4</a></li>
                                </ul>



                            </div>
                        </div>
                    </li>

                    <!--=============== DROPDOWN 3 ===============-->
                    <li class="dropdown__item">
                        <div class="nav__link dropdown__button">
                            <a href="">Insight</a>
                        </div>

                        <div class="dropdown__container">
                            <div class="dropleft">
                                <h2>Insight</h2>
                                <p>Stay informed about the latest developments in technology and software through our curated collection of blog posts and news updates.</p>

                                <button class="button">Who we are</button>
                            </div>

                            <div class="dropright">
                                <ul>
                                    <li><a href="">Link 1</a></li>
                                    <li><a href="">Link 2</a>
                                    </li>
                                    <li><a href="">Link 3</a></li>
                                    <li><a href="">Link 4</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a href="#" class="nav__link">Client</a>
                    </li>

                    <!--=============== DROPDOWN 4 ===============-->
                    <li class="dropdown__item">
                        <div class="nav__link dropdown__button">
                            <a href="">Carrier</a>
                        </div>

                        <div class="dropdown__container">
                            <div class="dropleft">
                                <h2>Carrier At Wesupp</h2>
                                <p>Join our dynamic team at Wesupp and embark on an exciting career path filled with growth opportunities and meaningful work.</p>

                                <button class="button">Who we are</button>
                            </div>

                            <div class="dropright">
                                <ul>
                                    <li><a href="">Why Wesupp</a></li>
                                    <li><a href="">Lift At Wesupp</a>
                                    </li>
                                    <li><a href="">Open Position</a></li>
                                    <li><a href="">Join Us</a></li>
                                </ul>

                            </div>
                        </div>
                    </li>

            </div>

            <div class="navright">
                <ul>
                    <li><a href="">Investors</a></li>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">Discover</a></li>

                </ul>
            </div>
        </nav>
    </header>

    <!--=============== MAIN JS ===============-->
    <script src="./Header.js"></script>
</body>

</html>