<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./Css/Header.css">
</head>

<body>

    <div class="navbar" id="navbar">
        <div class="logo">
            <img src="./../../Imgs/logo.png" alt="" />

        </div>

        <div class="navmenu1">

            <ul>
                <li class="dropdown">
                    <a to="/">Home</a>
                    <div class="dropdown-content">
                        <div class="left">
                            <h1>Services</h1>
                            <p>Discover our portfolio – constantly evolving to keep pace with the ever-changing needs of
                                our
                                clients.
                            </p>

                            <button id='button'>Explore More</button>


                        </div>

                        <div class="right">
                            <div class="first">
                                <a href="#">Softwere Development</a>
                                <a href="#">Website Development</a>
                                <a href="#">Mobile Application Development</a>
                                <a href="#">WordPress</a>
                            </div>
                            <div class="second">
                                <a href="#">Digital Marketing</a>
                                <a href="#">UI / UX</a>
                                <a href="#">Content Writing</a>
                            </div>

                        </div>
                    </div>
                </li>
                <li class="dropdown">
                    <a to="DiscoverWesupp">Discover Wesupp</a>
                </li>

                <li class="dropdown">
                    <a to="UnderConstructionPage">Work we offer</a>

                </li>

                <li class="dropdown">
                    <a to="UnderConstructionPage">Insight</a>

                </li>

                <li class="dropdown">
                    <a to="UnderConstructionPage">Clients</a>

                </li>
                <li class="dropdown">
                    <a to="UnderConstructionPage">Hiring</a>

                </li>
            </ul>
        </div>


        <div class="navmenu2">
            <ul class="ulist">
                <li>
                    <a to="UnderConstructionPage">Investors</a>

                </li>
                <li>
                    <a to="UnderConstructionPage">Contact Us</a>

                </li>
                <li>
                    <a to="UnderConstructionPage"> Discover</a>

                </li>
            </ul>
        </div>


    </div>

</body>

</html>