nav {
    background-color: rgb(255, 255, 255);
    color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav a {
    color: #000000;
    text-decoration: none;
    margin: 0 10px;
    display: block;
}

nav a:hover {
    text-decoration: underline;
}

/* CSS for dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    width: 100%;
    z-index: 1;
}

.dropdown-content a {
    padding: 10px 20px;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* For mobile */
@media only screen and (max-width: 768px) {
    .dropdown:hover .dropdown-content {
        display: none;
    }

    .dropdown-content {
        position: static;
        display: none;
        width: auto;
    }
}