* {
    font-family: "Poppins", sans-serif;

}

.Aboutarea1 {
    padding: 1rem;
    background: linear-gradient(to right, #9eb3f7, rgb(73, 129, 194), #1d4fb9);
}


.Aboutarea1 h2 {
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding-left: 4rem;
    margin-top: 5rem;


}

.Aboutarea1 p {
    padding: 1rem;
    font-size: 18px;
    color: beige;
    margin-left: 4rem;
    align-items: start;

}

.Aboutarea1 img {
    padding: 2rem;
    animation: bounce 5s infinite;


}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

.Aboutarea2{
    background-color: rgb(240, 237, 255);
    padding: 1rem;
    align-items: center;
    height: 50vh;
}

.Aboutarea2 h2{
   color: blueviolet;
    font-size: 36px;
    font-weight: 600;
    padding: 2rem;

}
.Aboutarea2 p{
    font-size: 16px;
    font-weight: 400;
    padding-left: 4rem;
    padding-right: 4rem;

}

.Servicebackground {
    background-color: aliceblue;
}

.col-12 h2 {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: blueviolet;

}

.imgwidth {
    width: 80px;
}

.card-body h3 {
    color: blueviolet;
    font-size: 24px;
    font-weight: 600;

}


.py-6 {
    background-color: rgb(231, 226, 228);
    height: 40vh;
}

#HomeContact {
    padding: 2rem;
    font-family: "Poppins", sans-serif;

}

#HomeContact h2 {
    font-family: "Poppins", sans-serif;
    font-size: 34px;
    font-weight: 600;
    color: blueviolet;

}

#HomeContact p{
    color: rgb(0, 0, 0);
}


.join-team-section {
    padding: 50px 0;
    background-color: #e8edf3;
    text-align: center;
}
.join-team-section h2 {
    margin-bottom: 20px;
    font-weight: 600;
    color: blueviolet;
}
.join-team-section p{
    margin-left: 10rem;
    margin-right: 10rem;
}
.join-team-section .btn {
    padding: 10px 20px;
    font-size: 18px;
}


.AddressArea{
  margin: 3rem;

}

.col-md-6{
    align-items: center;
}

.AddressArea h3{
    font-size: 36px;
    font-weight: 600;
    color: blueviolet;
}

address{
    font-size: 20px;

}
#map {
    width: 100%;
    height: 100%;
    min-height: 400px;
}