* {
    font-family: "Poppins", sans-serif;

}

.Aboutarea1 {
    padding: 1rem;
    background: linear-gradient(to right, #9eb3f7, rgb(73, 129, 194), #1d4fb9);
}


.Aboutarea1 h2 {
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding-left: 4rem;
    margin-top: 5rem;


}

.Aboutarea1 p {
    padding: 1rem;
    font-size: 18px;
    color: beige;
    margin-left: 4rem;
    align-items: start;

}

.Aboutarea1 img {
    padding: 2rem;
    animation: bounce 5s infinite;


}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

.Aboutarea2{
    background-color: rgb(240, 237, 255);
    padding: 1rem;
    align-items: center;
}

.Aboutarea2 h2{
   color: blueviolet;
    font-size: 36px;
    font-weight: 600;
    padding: 2rem;

}
.Aboutarea2 p{
    font-size: 16px;
    font-weight: 400;
    padding-left: 4rem;
    padding-right: 4rem;

}