@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.About_Container_01 {

    position: relative;
    width: 100%;
    height: 500px;
    /* Set height according to your requirement */
    /* background-color:  #b537d1;; */
    /* background: linear-gradient(to right, #f5bbff, #d689e7, #a544bb, #86219c, #8d03ac); */
    /* Red shades */
    background-size: cover;
    background-position: center;
    z-index: -1;
    background-image: url("/Imgs/Vr.jpg");
}

.purpleArea {
    position: absolute;
    margin-top: 9rem;
    margin-left: 5rem;
    width: 450px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 70px;
    border-top-right-radius: 130px;
    border-bottom-right-radius: 70px;


}

h1 {
    color: #76108d;
    font-size: 46px;
    font-weight: 900;
   

}

.whitearea {
    z-index: 4;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    width: 750px;
    height: 12rem;
    background-color: rgb(255, 255, 255);
    margin-top: -3rem;
    margin-left: 3rem;

}

.whitearea h4 {
    font-size: 30px;

}

.whitearea p {
    font-size: 18px;

}


.knoebetter {
    margin-top: 5rem;
    background-color: #EEEEEE;
    height: 20rem;
    padding: 2rem;
}

.knoebetter h2 {
    font-size: 34px;
    color: #8d03ac;

}

.knoebetter p {
    margin: 1rem;
    font-size: 16px;
    color: #8d03ac;
    background-color: azure;
    width: 75%;
    padding: 2rem;
    height: 13rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 70px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 90px;

}

.OurClient {
    /* background-color: azure; */
    background-color: #f5f4f4;
    height: 30rem;
    padding: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/*Client css for slider*/




.GroupCompany {
    background-color: #EEEEEE;
    height: 20rem;
    padding: 1rem;
    text-align: center;

}

.GroupCompanyinner {
    margin: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.GroupCompanyinner img {
    width: 150px;
    height: 125px;
    margin-left: 0rem;
    margin-right: 2rem;
    /* border-radius: 220px; */
}

#img2 {
    width: 150px;

}

/* Leader css */
.OurLeaders {
    background-color: #fafafa;
    height: 45rem;
    padding: 2rem;
    color: #9B26B5;
    text-align: center;

}

.OurLeaders h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    margin: 0;

}

.Ourcard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    
}

.Ourcard {
    border-radius: 50%;
    width: 200px;
    height: 170px;
    text-align: center;
    padding: 10px;
    margin: 2rem;
   
}

.Ourcard img {
    max-width: 100%;
    border-radius: 50%;
    margin: 1rem;
}

.Ourcard h3 {
    font-size: 18px;
    color: black;
    font-family: "Poppins", sans-serif;
}

.Ourcard h5 {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: rgb(24, 23, 23);
}
.succesStory {
    background-color: aliceblue;
    padding: 2rem;
    text-align: center;


}

.succesmid {
    padding: 1rem;
    display: flex;
    justify-content: center;


}

.succesleft {
    background-color: #14c3f8;
    width: 40rem;
    height: 10rem;
    margin: 1rem;
    padding: 1rem;
}

.succesright {
    background-color: #14c3f8;
    width: 40rem;
    height: 10rem;
    margin: 1rem;
    padding: 1rem;

}

.experties {
    background-color: rgb(255, 255, 255);
    height: 30rem;
    padding: 1rem;
    text-align: center;
}


.experties h2 {
    font-size: 2rem;
    margin: 1rem;
    color: #8d03ac;


}






.Inverstor {
    background-color: #fdfdfd;
    height: 20rem;
    padding: 1rem;
    text-align: center;
}

.reach {
    background-color: #a544bb;
    height: 40rem;
    display: flex;
    justify-content: center;
}

.reachleft {
    width: 30rem;
    height: 15rem;
    padding: 1rem;
    margin: 1rem;

}



