* {
    font-family: "Poppins", sans-serif;
}


.background-image {
    /* background-image: url('your-image-url.jpg'); */
    background: linear-gradient(to right, #9eb3f7, rgb(73, 129, 194), #1d61b9);
    background-size: cover;
    background-position: center;
    height: 60vh;
    position: relative;
    color: rgb(255, 255, 255);
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading {
    font-size: 3rem;
    font-weight: 600;
}

.paragraph {
    font-size: 1.4rem;
    font-weight: 500;
}


.we {
    color: blueviolet;
}

.btn:hover {
    transform: scale(1.1);
}

.bg3:hover {
    transform: scale(1.1);
}
#table1{
    background-color: rgb(238, 223, 242);
}