@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
} 

.carousel-item img {
  height: 40rem;
}

.card {
  border: 1px solid #ced4da;
  /* Add a 1px border */
  transition: all 0.3s ease;
  /* Add transition effect */
  width: 18rem;
  height: 18rem;
}

.card:hover {
  transform: scale(1.05);
  /* Increase size on hover */
}

.card img {
  width: 100px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.carousel-caption {
  right: 40%;
  left: auto;

  text-align: center;
}

.carousel-item {
  height: 30rem;
}

.service-card {
  border: 1px solid #ddd;
  transition: transform 0.3s;
}

.service-card:hover {
  transform: scale(1.05);
}

.card-img-top {
  width: 50px;
  /* Adjust size as needed */
  height: auto;
  margin: 10px auto;
}

@media (min-width: 992px) {
  .card-deck .card {
    flex: 1 0 calc(20% - 20px);
    /* Adjust this value to change the number of cards per row */
    margin-right: 20px;
  }

  .card-deck .card:last-child {
    margin-right: 0;
  }
}