footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #ffffff;  
    padding: 2rem;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
}

.footer_left{
    width: 30%;
}
.footer_left img {
    width: 100px;
    height: auto;
    margin-left: 4rem;
    margin-top: 4rem;
    filter: brightness(0.4) contrast(0.8) invert(1) sepia(1) saturate(7900%) hue-rotate(280deg);
}

.footer_container {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10rem;
    margin-top: 30rem;


}

.footer_column {
    margin-top: -12rem;
    margin-left: 5rem;
    width: calc(15%);
    margin-bottom: 20px; 

}


.footer_column li {
    width: 20vh;
    margin-left: 0rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    

}

.footer_column li a {
    text-decoration: none;
    color: #000000;
    transition: color 0.3s;
    margin-bottom: 0.5rem;

}

.footer_column li a:hover {
    color: #007bff;
    /* Bright color on hover */
    transition: background-color 0.3s, color 0.3s;
}

.footer_container {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.footer_copywright {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.footer_copywright p {
    margin-right: 40rem;
    text-align: left;
}

.footer_copywright img {
    width: 30px;
    height: 30px;
    margin: 1rem;

}

@media screen and (max-width: 1288px) {

    .footer_left img {
        width: 100px;
        /* Adjust the logo size as needed */
        height: auto;
        margin-left: 4rem;
        margin-top: 4rem;
        filter: brightness(0.4) contrast(0.8) invert(1) sepia(1) saturate(7900%) hue-rotate(280deg);
    }

    .footer_column li a {
        font-size: 14px;

    }

    .footer_copywright p {
        margin-right: 22rem;
        text-align: left;
    }

}

@media screen and (max-width: 1024px) {
    .footer_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 5rem;
        margin-top: 10rem;
    }

    .footer_column {
        margin-left: 1rem;
        width: calc(35%);
        margin-bottom: 20rem;
        margin-top: -18rem;

    }

    .footer_copywright {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: start;
        margin-top: -20rem;


    }

    .footer_copywright p {
        margin-right: 22rem;
        text-align: left;

    }

}


@media screen and (max-width: 990px) {

    .footer_left img {
        width: 80px;
        height: auto;
        margin-left: 3rem;

    }

    .footer_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 5rem;
        margin-top: 10rem;

    }

    .footer_column {
        margin-left: 1rem;
        width: calc(35%);
        margin-bottom: 20rem;
        margin-top: -18rem;

    }

    .footer_column li {
        margin-left: 0rem;
        margin: 0 auto;
    }


    .footer_copywright {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: -20rem;


    }

    .footer_copywright p {
        margin-left: 1rem;
        margin-right: 0rem;
        text-align: left;

    }

}


@media screen and (max-width: 816px) {

    .footer_left img {
        width: 60px;
        height: auto;
        margin-left: 2rem;
        margin-right: 3rem;

    }

    .footer_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 5rem;
        margin-top: 10rem;

    }

    .footer_column {
        margin-left: 1rem;
        width: calc(35%);
        margin-bottom: 20rem;
        margin-top: -18rem;

    }


    .footer_column li {
        margin-left: 0rem;
        margin: 0 auto;
    }

    .footer_copywright {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: -20rem;


    }

    .footer_copywright p {
        margin-left: 1rem;
        margin-right: 0rem;
        text-align: left;

    }

    .footer_container img {
        width: 25px;
        height: 25px;
        margin: 1rem;
    }

}

@media screen and (max-width: 664px) {
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        background-color: #ffffff;
        padding: 2rem;
    }

    .footer_left img {
        width: 60px;
        height: auto;
        margin-left: 2rem;
        margin-top: 4rem;
        margin-right: 4rem;
        filter: brightness(0.4) contrast(0.8) invert(1) sepia(1) saturate(7900%) hue-rotate(280deg);
    }

    .footer_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 5rem;
        margin-top: 10rem;

    }

    .footer_column {
        margin-left: 1rem;
        width: calc(35%);
        margin-bottom: 20rem;
        margin-top: -18rem;

    }


    .footer_column li {
        margin-left: 0rem;
        margin: 0 auto;
    }


    .footer_copywright {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: -20rem;


    }

    .footer_copywright p {
        margin-left: 1rem;
        margin-right: 0rem;
        text-align: left;

    }

    .footer_container img {
        width: 25px;
        height: 25px;
        margin: 1rem;
    }



}

@media screen and (max-width: 580px) {

    footer {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        padding: 2rem;
        align-items: center;

    }

    .footer_left img {
        width: 90px;
        height: auto;
        margin-left: -17rem;
        margin-top: 1rem;
        margin-right: 4rem;
        filter: brightness(0.4) contrast(0.8) invert(1) sepia(1) saturate(7900%) hue-rotate(280deg);
    }

    .footer_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 5rem;
        margin-top: 12rem;

    }

    .footer_column {
        margin-left: 1rem;
        width: calc(35%);
        margin-bottom: 20rem;
        margin-top: -18rem;

    }


    .footer_column li {
        margin-left: 0rem;
        margin: 0 auto;
    }

    .footer_copywright {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: -20rem;


    }

    .footer_copywright p {
        margin-left: 1rem;
        margin-right: 0rem;
        text-align: left;

    }

    .footer_container img {
        width: 25px;
        height: 25px;
        margin: 1rem;
    }


}

@media screen and (max-width: 482px) {
    .footer_left img {
        width: 80px;
        height: auto;
        margin-left: -13rem;
        margin-top: 0.5rem;
        margin-right: 4rem;
        filter: brightness(0.4) contrast(0.8) invert(1) sepia(1) saturate(7900%) hue-rotate(280deg);
    }

    .footer_copywright {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: -20rem;


    }

    .footer_copywright p {
        margin-left: 1rem;
        margin-right: 0rem;
        text-align: left;

    }

    .footer_container img {
        width: 25px;
        height: 25px;
        margin: 1rem;
    }


}

@media screen and (max-width: 390px) {
    .footer_left img {
        width: 70px;
        /* Adjust the logo size as needed */
        height: auto;
        margin-left: -12rem;
        margin-top: 1rem;
        margin-right: 2rem;
        filter: brightness(0.4) contrast(0.8) invert(1) sepia(1) saturate(7900%) hue-rotate(280deg);
    }

    .footer_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 5rem;
        margin-top: 13rem;

    }

    .footer_column {
        margin-left: 1rem;
        width: calc(35%);
        margin-bottom: 20rem;
        margin-top: -18rem;

    }


    .footer_column li {
        margin-left: 0rem;
        margin: 0 auto;
    }

    .footer_container p {
        margin-right: 2rem;
        font-size: 10px;

    }

    .footer_container img {
        width: 12px;
        /* Adjust social media icon size as needed */
        height: 12px;
        margin: 0.5rem;

    }

    .footer_copywright {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: -20rem;
        

    }

    .footer_copywright p {
        margin-left: 1rem;
        margin-right: 0rem;
        text-align: left;
       
    }

    .footer_container img {
        width: 25px;
        height: 25px;
        margin: 1rem;
    }


}

@media screen and (max-width: 360px) {

    .footer_left img {
        width: 60px;
        height: auto;
        margin-top: -1rem;
        margin-right: 0rem;
        margin-left: -170px;
        filter: brightness(0.4) contrast(0.8) invert(1) sepia(1) saturate(7900%) hue-rotate(280deg);
    }

    .footer_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 0.8rem;
        margin-top: 15rem;
        

    }

    .footer_column {
        margin-left: 1rem;
        width: calc(30%);
        margin-bottom: 20rem;
        margin-top: -18rem;

    }


    .footer_column li {
        margin-left: 0rem;
        margin: 0 auto;
    }

    .footer_column li a {
        font-size: 12px;
        
    }


    .footer_copywright {
        /* width: 100%; */
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: -20rem;
        

    }

    .footer_copywright p {
        margin-left: 1rem;
        margin-right: 0rem;
        text-align: left;
       
    }

    .footer_container img {
        width: 25px;
        height: 25px;
        margin: 1rem;
    }


}


@media screen and (max-width: 300px) {

    .footer_left img {
        width: 50px;
        /* Adjust the logo size as needed */
        height: auto;
        margin-left: -10rem;
        margin-top: 1rem;
        margin-right: 4rem;
        filter: brightness(0.4) contrast(0.8) invert(1) sepia(1) saturate(7900%) hue-rotate(280deg);
    }

    .footer_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 5rem;
        margin-top: 14rem;

    }

    .footer_column {
        margin-left: 1rem;
        width: calc(35%);
        margin-bottom: 20rem;
        margin-top: -18rem;
    }

    .footer_column li {
        margin-left: 0rem;
        margin: 0 auto;
    }


    .footer_copywright {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: -20rem;

    }

    .footer_copywright p {
        margin-left: 1rem;
        margin-right: 0rem;
        text-align: left;

    }

    .footer_container img {
        width: 25px;
        height: 25px;
        margin: 1rem;
    }


}


@media screen and (max-width: 242px) {
    .footer_left img {
        width: 50px;
        /* Adjust the logo size as needed */
        height: auto;
        margin-left: -6rem;
        margin-top: -3rem;
        margin-right: 4rem;
        filter: brightness(0.4) contrast(0.8) invert(1) sepia(1) saturate(7900%) hue-rotate(280deg);
    }



}